<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array>
		<string>iOS</string>
	</array>
	<key>resolutionData</key>
	<dict>
		<key>childOrder</key>
		<dict>
			<key>iOS</key>
			<dict>
				<key>lastModification</key>
				<real>574061608.51689506</real>
				<key>version</key>
				<dict>
					<key>b5c1e481859dc91c87c2e03e64c51c22b41ad0fe29c90e45bc86d9465441c3cd</key>
					<integer>3</integer>
				</dict>
			</dict>
		</dict>
		<key>sheetClusters</key>
		<dict>
			<key>图解Http.md</key>
			<dict>
				<key>lastModification</key>
				<real>574061583.60695696</real>
				<key>version</key>
				<dict>
					<key>b5c1e481859dc91c87c2e03e64c51c22b41ad0fe29c90e45bc86d9465441c3cd</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>图解TCP、IP.md</key>
			<dict>
				<key>lastModification</key>
				<real>574061583.60695803</real>
				<key>version</key>
				<dict>
					<key>b5c1e481859dc91c87c2e03e64c51c22b41ad0fe29c90e45bc86d9465441c3cd</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>无标题.md</key>
			<dict>
				<key>lastModification</key>
				<real>574061583.60695398</real>
				<key>version</key>
				<dict>
					<key>b5c1e481859dc91c87c2e03e64c51c22b41ad0fe29c90e45bc86d9465441c3cd</key>
					<integer>2</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>图解Http.md</string>
		</array>
		<array>
			<string>图解TCP、IP.md</string>
		</array>
		<array>
			<string>无标题.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>childOrder</key>
		<dict>
			<key>b5c1e481859dc91c87c2e03e64c51c22b41ad0fe29c90e45bc86d9465441c3cd</key>
			<integer>3</integer>
		</dict>
		<key>sheetClusters</key>
		<dict>
			<key>b5c1e481859dc91c87c2e03e64c51c22b41ad0fe29c90e45bc86d9465441c3cd</key>
			<integer>2</integer>
		</dict>
	</dict>
</dict>
</plist>
