<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>iOS生成二维码.md</key>
			<dict>
				<key>lastModification</key>
				<real>574061849.96372902</real>
				<key>version</key>
				<dict>
					<key>b5c1e481859dc91c87c2e03e64c51c22b41ad0fe29c90e45bc86d9465441c3cd</key>
					<integer>5</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>iOS生成二维码.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>b5c1e481859dc91c87c2e03e64c51c22b41ad0fe29c90e45bc86d9465441c3cd</key>
			<integer>6</integer>
		</dict>
	</dict>
</dict>
</plist>
